<article class="post-inline">
  <header>
    <h1><a href="{{ url }}">{{ data.title }}</a></h1>
    <p>{{ data.dateString }}</p>
  </header>
  {% if data.truncate %}
    {% if data.preview_img_src %}
      {% image data.preview_img_src, data.preview_img_alt, url %}
    {% endif %}
    {% if data.preview_text %}
      <p>
        {{ data.preview_text }}
      </p>
    {% endif %}
  {% else %}
    {{ content }}
  {% endif %}
  <footer>
    {% if data.truncate %}
      <a class="view-post" href="{{url}}">read more</a>
    {% else %}
      <a class="view-post" href="{{url}}">view post</a>
    {% endif %}
  </footer>
</article>
